:root{
  --text-color:hsl(0, 0%, 100%);
  --hover-color:hsl(75, 94%, 57%);
  --btn-color:hsl(0, 0%, 20%);
  --container-color:hsl(0, 0%, 12%);
  --bg-color:hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Inter", sans-serif;
}

.wrapper{
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: var(--container-color);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img{
  margin-bottom: 20px;
}

.profile-img img{
  border-radius: 50%;
  height: 90px;
}

.about{
  margin-bottom: 20px;
}

.about h3{
  font-size: 20px;
  color: var(--text-color);
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.about h5{
  font-size: 14px;
  color: var(--hover-color);
  margin-bottom: 22px;
  font-weight: 800;
}

.about p{
  font-size: 12px;
  color: var(--text-color);
  font-weight: 600;
}

.social-links{
    width: 94%;
    height: 10%;
}

.social-links ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.social-links ul li{
  width: 100%;
  padding: 10px;
  display: inline;

}

.social-links ul li a{
  color: var(--text-color);
  font-weight: 800;
  background-color: var(--btn-color);
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.social-links ul li a:hover{
  background-color: var(--hover-color);
  color: var(--bg-color);
}